<% newMessages.forEach(function(mess){ %>
   <% if(mess.messageType === "text"){%>
         <div
            class="convert-emoji bubble <% if(mess.senderId == user._id){ %>me<%}else{%>you<%}%>"data-mess-id="<%= mess._id %>">
            <img src="/images/users/<%=mess.sender.avatar%>" class="avatar-small" title="<%= mess.sender.name%>">
            <%= mess.text %>
         </div>
      <% } %>
      <% if(mess.messageType === "image"){%>
         <div
            class="bubble <% if(mess.senderId == user._id){ %>me<%}else{%>you<%}%> bubble-image-file" data-mess-id="<%= mess._id %>">
            <img src="/images/users/<%=mess.sender.avatar%>" class="avatar-small" title="<%= mess.sender.name%>">
            <img src="data: <%=mess.file.contentType%>; base64, <%= bufferToBase64(mess.file.data)%>"
               class="show-image-chat" />
         </div>
      <% } %>
      <% if(mess.messageType === "file"){%>
         <div
            class="bubble <% if(mess.senderId == user._id){ %>me<%}else{%>you<%}%> bubble-attachment-file" data-mess-id="<%= mess._id %>">
            <img src="/images/users/<%=mess.sender.avatar%>" class="avatar-small" title="<%= mess.sender.name%>">
            <a href="data:<%=mess.file.contentType%>; base64, <%= bufferToBase64(mess.file.data)%>"
               download="<%=mess.file.fileName%>"><%=mess.file.fileName%></a>
         </div>
   <% } %>
<% }); %>